block variables
doctype html
html(lang="en", ng-app=page_module)
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title || 'Smart Battery Frontend'
    meta(name="viewport", content="width=device-width, initial-scale=1")
    <!-- build:css css/plugins.min.css -->
    <link rel="stylesheet" href="../bower_components/angular-chart.js/dist/angular-chart.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <!-- endbuild -->
    <!-- process:[href] css/ -->
    <!-- Angular CSP must be loaded independently, otherwise FOUC will still occur -->
    <link rel="stylesheet" href="../bower_components/angular/angular-csp.css">
    <!-- /process -->
    block headcss
      block appcss
        <!-- build:css css/app.min.css -->
        <link rel="stylesheet" href="css/main.css" type="text/css">
        <!-- endbuild -->
  body(ng-cloak)
    block body
    .script-block
      block bodyjs
        <!-- build:js js/plugins.min.js -->
        <script language="javascript" type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
        <script language="javascript" type="text/javascript" src="../bower_components/angular/angular.js"></script>
        <script language="javascript" type="text/javascript" src="../bower_components/angular-resource/angular-resource.js"></script>
        <script language="javascript" type="text/javascript" src="../bower_components/angular-animate/angular-animate.js"></script>
        <script language="javascript" type="text/javascript" src="../bower_components/lodash/lodash.js"></script>
        <script language="javascript" type="text/javascript" src="../bower_components/Chart.js/Chart.js"></script>
        <script language="javascript" type="text/javascript" src="../bower_components/angular-chart.js/dist/angular-chart.js"></script>
        <script language="javascript" type="text/javascript" src="../bower_components/socket.io-client/dist/socket.io.js"></script>
        <script language="javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script language="javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <!-- endbuild -->

        block appjs
          <!-- process:[src] js/app.min.js -->
          <script language="javascript" type="text/javascript" src="js/app.js"></script>
          <!-- /process -->
          //- preserve. This is needed for proper jade line breaking in pretty mode

        block gmapsjs
          <iau-script loaded="_gmaps_loaded" load-on-ready use-script-tag callback=":callback" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDg2yYaNEzeENjcFqGziKG0CP9p147jpk&libraries=weather,geometry,visualization&v=3.17&callback=:callback" on-error="gmaps_load_failed=true"></iau-script>
          <!-- process:[src] js/markerwithlabel.min.js -->
          <iau-script language="javascript" type="text/javascript" src="../bower_components/google-maps-utility-library-v3/markerwithlabel/src/markerwithlabel_packed.js" load="_gmaps_loaded" on-error="gmaps_load_failed=true" loaded="gmaps_loaded_all"></iau-script>
          <!-- /process -->
