<!DOCTYPE html>
<html lang="en" ng-app="SmartBattery">
<head>
    <meta charset="UTF-8">
    <title>Maps Basic</title>

    <link rel="stylesheet" href="../bower_components/angular-chart.js/dist/angular-chart.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../bower_components/angular/angular-csp.css" type="text/css">
</head>
<body>
    <div id="maps" ng-controller="VehicleMapsController" ng-cloak>
        <div id="map-canvas" class="google-map-canvas">
            <ui-gmap-google-map center="map_options.center" zoom="map_options.zoom">
            </ui-gmap-google-map>
        </div>

        <div id="vehicle-graphs" ng-if="active_marker" class="ani-fade">
            <div class="vehicle-graph">
                <div>
                    <canvas class="lines chart chart-line" data="active_marker.charts.data" labels="active_marker.charts.labels"
                    legend="true" series="active_marker.charts.series"
                    height="185" width="500" options="{scaleLabel: '<%=value%>%', scaleBeginAtZero: true}"
                    ></canvas>
                </div>
            </div>
            <div class="vehicle-graph">
                <div>
                    <canvas class="lines chart chart-line" data="active_marker.charts.data" labels="active_marker.charts.labels"
                    legend="true" series="active_marker.charts.series"
                    height="185" width="500" options="{scaleLabel: '<%=value%>%', scaleBeginAtZero: true}"
                    ></canvas>
                </div>
            </div>
        </div>

        <div id="not-ready" ng-if="!ready" class="ani-fade">
            <div class="text">Loading Maps ...</div>
        </div>
    </div>

    <div id="script-block">
        <script language="javascript" type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script language="javascript" type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
        <script language="javascript" type="text/javascript" src="../bower_components/angular-resource/angular-resource.min.js"></script>
        <script language="javascript" type="text/javascript" src="../bower_components/angular-animate/angular-animate.min.js"></script>
        <script language="javascript" type="text/javascript" src="../bower_components/lodash/lodash.min.js"></script>
        <script language="javascript" type="text/javascript" src="../bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
        <script language="javascript" type="text/javascript" src="../bower_components/Chart.js/Chart.min.js"></script>
        <script language="javascript" type="text/javascript" src="../bower_components/angular-chart.js/dist/angular-chart.min.js"></script>

        <script language="javascript" type="text/javascript" src="js/main.js"></script>
    </div>
    <div style="display: none" id="angular-templates" ng-non-bindable>
        <div id="marker-label">
            <div>
                <div style="width: 70px" ng-if="vec !== active_marker" class="ani-fade">
                    <div style="position: relative">
                        <div style="position: absolute; left: 42px; top: 0; font-size: 10px; font-weight: bold">SOC</div>
                        <div class="progress" style="width: 40px; height: 10px; margin-bottom: 1px;">
                            <colored-progress value="vec.data.state_of_charge" progressbreaks="progress_breaks"/>
                        </div>
                    </div>
                    <div style="position: relative">
                        <div style="position: absolute; left: 42px; top: 0; font-size: 10px; font-weight: bold">SOH</div>
                        <div class="progress" style="width: 40px; height: 10px;">
                            <colored-progress value="vec.data.state_of_health" progressbreaks="progress_breaks"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="vehicle-info-window">
            <div>
                <div ng-if="active_marker" style="width: 180px">
                    <strong>{{ active_marker.title }}</strong>
                    <dl>
                        <dt>Model</dt>
                        <dd>N/A</dd>
                        <dt>Bat Type/#</dt>
                        <dd>N/A</dd>
                        <dt>SOC</dt>
                        <dd>{{ (active_marker.data.state_of_charge * 100).toFixed(2) }}%</dd>
                        <dt>SOH</dt>
                        <dd>{{ (active_marker.data.state_of_health * 100).toFixed(2) }}%</dd>
                        <dt>Driving Behavior</dt>
                        <dd>N/A</dd>
                        <dt>Coords</dt>
                        <dd>{{active_marker.latitude | latlngcoords}}, {{active_marker.longitude | latlngcoords}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
