extends layout/base.jade
block variables
  - var page_module = 'sbfModuleIndex'
block titleelement
  title(ng-bind="page_title || 'Smart Battery'")
block body
  div.container-fluid(ng-if="!full_page")
    div.row
      div.col-md-12
        nav.navbar.navbar-default
          div.container-fluid
            div.navbar-header
              div.navbar-brand Smart Battery
            //- Collapse?
            div
              ul.nav.navbar-nav
                li
                  a(ui-sref="vehicles_map") All vehicles
                li.active
                  a(href="javascript: void(0)") Vehicle Details
            div.navbar-right
              ul.nav.navbar-nav
                div.navbar-text
                  = '<User> <Image>'
  div#main(ui-view)
