extends layout/base.jade
block variables
  - var title = 'Vehicle Details'
block body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        span.brand Smart Battery Frontend
