extends layout/base.jade
block variables
  - var title = 'Vehicle Details'
  - var page_module = 'sbfModuleVehicleDetails'
block body
  div.container-fluid
    div.row
      div.col-md-12
        nav.navbar.navbar-default
          div.container-fluid
            div.navbar-header
              div.navbar-brand Smart Battery
            //- Collapse?
            div
              ul.nav.navbar-nav
                li
                  a(href="index.html") All vehicles
                li.active
                  a(href="javascript: void(0)") Vehicle Details
            div.navbar-right
              ul.nav.navbar-nav
                div.navbar-text
                  = '<User> <Image>'
  div#main(ui-view)
  #angular-templates(style="display: none")
    script(type="text/ng-template", id="pages/vehicle_details.html")
      div.container-fluid
        div.row
          div.col-lg-3
            div.panel.panel-default
              div.panel-heading
                | Storm Edge
                div.pull-right(style="position: relative; top: -5px")
                  button.btn.btn-primary.btn-sm(type="button") Edit
              div.panel-body
                img.img-responsive(src="http://images.dealer.com/autodata/us/640/color/2015/USC50TOS071A0/218.jpg")
                dl
                  dt Vehicle ID
                  dd XXX
                  dt Vehicle Model
                  dd XXX
                  dt Battery Model
                  dd XXX
                  dt Usage Date
                  dd XXX
                  dt Current Status
                  dd XXX
          div.col-lg-9
            div.panel.panel-primary
              div.panel-heading Dashboard
              div.panel-body
                div.row
                  div.col-lg-4
                    div
                      datepicker(ng-model="display_date")
                    div.btn-group(style="margin-top: 10px")
                      div.btn-group
                        button.btn.btn-info.btn-sm(type="button", ng-click="set_to_today()") Today
                  div.col-lg-4
                    div
                      div Mileage
                      div Average Energy Consumption
                      div Daily Mileage
                      div Daily Energy Consumption
                      div Average Energy Consumption
                      div Notes
                  div.col-lg-4.clearfix
                    div.pull-left(style="margin-right: 15px; margin-top: 5px;")
                      div.battery-progress-icon-vertical
                        div.battery-tab
                        div.progress.vertical(style="margin: 0; width: 80px; height: 200px")
                          div.progress-bar.vertical-bottom(iau-colored-progress, ratio="battery_ratio", vertical)
                    div
                      div Refresh Time
                      div SOC
                      div SOH
            div
              tabset.nav-tab-wrapped
                tab(heading="Vehicle Report")
                  div.row
                    div.col-lg-6
                      img.img-responsive(src="http://www.car-illustration.com/illustrations/top-view-suv-frame-chassis.jpg")
                    div.col-lg-6
                      ul.list-group
                        li.list-group-item(ng-repeat="component in components", ng-class="{ 'list-group-item-success': component.success, 'list-group-item-danger': component.error, 'list-group-item-warning': component.warning }") {{ component.name }}
                tab(heading="Vehicle Performance Report", select="chart_once_delayed(resize_chart)", active="complex_active")
                  div.row
                    div.col-lg-6
                      div(style="max-height: 400px")
                        canvas.chart.chart-line(data="vehicle.performance_chart.data", labels="vehicle.performance_chart.labels", legend="true", series="vehicle.performance_chart.series", options="{scaleLabel: '<%=value%>', scaleBeginAtZero: true}", do-resize="resize_chart")
                    div.col-lg-6
                      div(style="position: relative; height: 400px", sbf-google-maps, ng-if="gmaps_loaded_all && complex_active", gmaps="maps_data.gmaps", options="{center: {lat: 31.0268809, lng: 121.4367119 }, zoom: 8 }")
                tab(heading="Battery Health Report")
                  | Three
                tab(heading="User Usage Report")
                  | Four
    script(type="text/ng-template", id="pages/wrong_url.html")
      div.container-fluid
        div.row
          div.col-lg-12
            div.alert.alert-danger
              strong Error!
              |  Accessing this page directly is not supported.
              | Please visit 
              a(href="index.html") the main page
              |  to select a vehicle to view details for.
