div.container-fluid
  div.row
    div.col-lg-12
      div.alert.alert-danger
        strong Error!
        |  Accessing this page directly is not supported.
        | Please visit 
        a(href="index.html") the main page
        |  to select a vehicle to view details for.
